#main-table {
    height: 80vh;
    overflow: scroll;

    table {
        font-size: large;
        border-collapse: collapse;

        thead {
            tr {
                position: sticky;
                top: 0;

                th {

                    padding: 15px 10px;
                    background-color: rgb(86, 94, 97);
                    color: whitesmoke;
                    font-weight: 400;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                :hover {
                    background-color: #8d8f90
                }
            }
        }

        tbody {

            tr {
                td {
                    padding: 8px;
                    border-bottom: 1px solid rgb(206, 189, 189);

                }

                .align-col-text-center {
                    text-align: center;
                }

                background-color:white;

            }

            :hover {
                background-color: #eefaff
            }

        }
    }
}