.iot-status-cell {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: left;
}

.answered-date{
    font-size: small;
}

.download-table-xls-button{
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    height: 23px;
    margin-top: 2px;
    cursor: pointer;
    color: #038103;
}